// colors
$color-background: #F4F5FC;
$color-white: #ffffff;
$color-accent: #5A61ED;
$color-gray: #7C7C7C;

// fonts
$fonts-work-sans: 'Work Sans', sans-serif;
$fonts-pt-sans: 'PT Sans', sans-serif;

// font size
$font-main-text: 14px;

// transitions
$tranitions1s: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

// title
$h1: 48px;
$h2: 22px;